name: tuva-empi

services:
  db:
    # https://hub.docker.com/layers/library/postgres/16/images/sha256-295787823185868c4679563715b0a7a07309387f3836117f1b0984d1bfc2bd24
    image: postgres:16@sha256:e38a7fe2234174d0eb69b5467d346e1bb193c09f98adc229fc9df30fe364dd4a
    environment:
      POSTGRES_DB: tuva_empi
      POSTGRES_USER: tuva_empi
      POSTGRES_PASSWORD: tuva_empi
    volumes:
      - db-data:/var/lib/postgresql/data:cached
    networks:
      - app-network
    ports:
      - 127.0.0.1:5432:5432

  backend-migrate:
    build:
      context: ./backend
      dockerfile: Dockerfile
    command: ["migrate"]
    depends_on:
      db:
        condition: service_started
    environment:
      PYTHONUNBUFFERED: 1
      TUVA_EMPI_CONFIG_FILE: /usr/local/etc/tuva-empi/deployment.json
    volumes:
      - ${TUVA_EMPI_CONFIG_FILE}:/usr/local/etc/tuva-empi/deployment.json
    networks:
      - app-network
      #restart: on-failure

  backend-bootstrap: #just sets up identity provider
    build:
      context: ./backend
      dockerfile: Dockerfile
    command: ["bootstrap"]
    depends_on:
      backend-migrate:
        condition: service_completed_successfully
    environment:
      PYTHONUNBUFFERED: 1
      TUVA_EMPI_CONFIG_FILE: /usr/local/etc/tuva-empi/deployment.json
      AWS_ENDPOINT_URL: ${AWS_ENDPOINT_URL}
      AWS_ACCESS_KEY_ID: ${AWS_ACCESS_KEY_ID}
      AWS_SECRET_ACCESS_KEY: ${AWS_SECRET_ACCESS_KEY}
      AWS_DEFAULT_REGION: ${AWS_DEFAULT_REGION}
    volumes:
      # If you'd like to mount an AWS config in order to access AWS
      # APIs, you can. We don't mount it by default.
      - ${AWS_CONFIG_DIR:-./infra/common/backend/aws-dir-placeholder}:/root/.aws
      - ${TUVA_EMPI_CONFIG_FILE}:/usr/local/etc/tuva-empi/deployment.json
    networks:
      - app-network

  backend-api:
    build:
      context: ./backend
      dockerfile: Dockerfile
    depends_on:
      backend-bootstrap:
        condition: service_completed_successfully
    environment:
      PYTHONUNBUFFERED: 1
      TUVA_EMPI_CONFIG_FILE: /usr/local/etc/tuva-empi/deployment.json
      AWS_ENDPOINT_URL: ${AWS_ENDPOINT_URL}
      AWS_ACCESS_KEY_ID: ${AWS_ACCESS_KEY_ID}
      AWS_SECRET_ACCESS_KEY: ${AWS_SECRET_ACCESS_KEY}
      AWS_DEFAULT_REGION: ${AWS_DEFAULT_REGION}
    volumes:
      # If you'd like to mount an AWS config in order to access AWS
      # APIs, you can. We don't mount it by default.
      - ${AWS_CONFIG_DIR:-./infra/common/backend/aws-dir-placeholder}:/root/.aws
      - ${TUVA_EMPI_CONFIG_FILE}:/usr/local/etc/tuva-empi/deployment.json
    networks:
      - app-network
    expose:
      - "8000"
    ports:
      - 127.0.0.1:8000:8000
    healthcheck:
      test: "curl -fs http://localhost:8000/api/v1/health-check || exit 1"
      interval: 5s
      timeout: 3s
      retries: 5
      start_period: 5s

  backend-matching-service:
    build:
      context: ./backend
      dockerfile: Dockerfile
    command: ["matching-service"]
    depends_on:
      backend-bootstrap:
        condition: service_completed_successfully
    environment:
      PYTHONUNBUFFERED: 1
      TUVA_EMPI_CONFIG_FILE: /usr/local/etc/tuva-empi/deployment.json
    volumes:
      - ${TUVA_EMPI_CONFIG_FILE}:/usr/local/etc/tuva-empi/deployment.json
    networks:
      - app-network

  backend-worker:
    build:
      context: ./backend
      dockerfile: Dockerfile
    command: ["process_export_jobs", "--sleep", "60", "--max-jobs-per-run", "3"]
    depends_on:
      backend-bootstrap:
        condition: service_completed_successfully
    environment:
      PYTHONUNBUFFERED: 1
      TUVA_EMPI_CONFIG_FILE: /usr/local/etc/tuva-empi/deployment.json
      AWS_ENDPOINT_URL: ${AWS_ENDPOINT_URL}
      AWS_ACCESS_KEY_ID: ${AWS_ACCESS_KEY_ID}
      AWS_SECRET_ACCESS_KEY: ${AWS_SECRET_ACCESS_KEY}
      AWS_DEFAULT_REGION: ${AWS_DEFAULT_REGION}
    volumes:
      - ${TUVA_EMPI_CONFIG_FILE}:/usr/local/etc/tuva-empi/deployment.json
    networks:
      - app-network
      #restart: unless-stopped #crashses

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    networks:
      - app-network
    expose:
      - "3000"
    ports:
      - 127.0.0.1:3000:3000
    healthcheck:
      test: "curl -fs http://localhost:3000 || exit 1"
      interval: 5s
      timeout: 3s
      retries: 5
      start_period: 5s

  nginx:
    # https://hub.docker.com/layers/library/nginx/1.27.4-alpine/images/sha256-a71e0884a7f1192ecf5decf062b67d46b54ad63f0cc1b8aa7e705f739a97c2fc
    image: nginx:1.27.4-alpine@sha256:4ff102c5d78d254a6f0da062b3cf39eaf07f01eec0927fd21e219d0af8bc0591
    depends_on:
      backend-api:
        condition: service_healthy
      frontend:
        condition: service_healthy
    volumes:
      - ./infra/demo/nginx/nginx.conf:/etc/nginx/nginx.conf:ro
    networks:
      - app-network
    expose:
      - "80"

volumes:
  db-data:


networks:
  app-network:
    driver: bridge
